{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script   src="https://code.jquery.com/jquery-3.5.1.min.js"   integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="   crossorigin="anonymous"></script>
    <title>Movie Review</title>

    <!-- Loading third party fonts -->

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static "styles/index.css" %}">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
</head>


<body>
	<div style="width: 100%;">
   		<div style="float:left; width: 50%">
		   <button id="send-btn"> Send </button>
		   <p id="error"></p>
		   <div> <p>Your choices -</p></div>
			<div class="selected-list"></div>
   		</div>
   		<div style="float:right; width:50%;">
			<div class="button-container sticky">
				<button id="pre-btn">previous</button>
				<button id="page-btn"></button>
				<button id="next-btn">next </button>
				<input type="text" id="search-tab">
				<button id="search">Search</button>
			</diV>
			<div class="list-container">
				<div class="list" ></div>
			</diV>
		</div>
	</div>
	<form class="form-csrf">{% csrf_token %}</form>
<div style="clear:both"><p class="banner-message">Hello there</p></div>

    
    
	<script src="{% static "js/boxes.js"%}"></script>
</body>

</html>